---
const links = [
  { href: '/', text: 'Home' },
  { href: '/pokemons/1', text: 'Paginado' },
  { href: '/favorites', text: 'Favoritos' },
  { href: '/islands', text: 'Islas' },
];

const currentPage = Astro.url.pathname;
---

<!-- component -->
<nav class='bg-white shadow dark:bg-gray-800'>
  <div
    class='container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300'
  >
    <!-- {
      links.map(({ href, text }) => (
        <a
          href={href}
          class:list={[
            'text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6',
            {
              'border-b-2 border-blue-500': currentPage === href,
            },
          ]}
        >
          {text}
        </a>
      ))
    } -->

    {
      links.map(({ href, text }) => (
        <div class=''>
          <a
            href={href}
            class='text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6'
          >
            {text}
          </a>
          {currentPage === href ? (
            <div
              transition:name='menu-line'
              class='border-b-2 border-blue-500 mx-4'
            />
          ) : (
            <div class='border-b-2 border-transparent' />
          )}
        </div>
      ))
    }
  </div>
</nav>
