---
import Title from '@components/shared/Title.astro';
import Layout from '@layouts/Layout.astro';
import { FavoritePokemons } from '@components/pokemons/FavoritePokemons';
---

<Layout title='Favoritos | Home'>
  <Title>Favoritos</Title>

  <FavoritePokemons client:only='solid-js' />
</Layout>
