---
import Title from '@components/shared/Title.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Favoritos | Home'>
  <h1 class='text-3xl'>Favoritos</h1>
  <Title>Favoritos</Title>
</Layout>
